*,
*::after,
*::before{
    margin:0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //this define what 1rem is 
    font-size: 62.5%;   //1rem = 10px; 10px/16px =62.5%

    
    @include respond(tab-land) {
        font-size: 56.255%;         //1rem = 8px; 9px/16px = 56.255%
    }

    @include respond(tab-port) {
        font-size: 50%; //1rem = 8px; 8px/16px =50%
    }

    @include respond(big-desktop) {
        font-size: 75%;     //1rem = 12px; 12px/16px =50%
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;
    
    @include respond(tab-port) {
        padding: 0;
    }

}

::selection{
    background-color: $color-primary;
    color: $color-white;
}